* {
    margin: 0;
    padding: 0;
}

.popup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 5s ease-in-out;
}

.container {
    z-index: 3;
    position: fixed;
}

.popup::after {
    content: "";
    
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    background-color: blue;
  }

.button {
    font-size: 24px;
    font-weight: 700;
    border-radius: 25px;
    background-color: yellow;
  }

a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: blue;
}

.popup:target {
    visibility: hidden;
    opacity: 0;
    display:none
  }

.main {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.block {
    width: 80%;
    text-align: center;
}

.block-text {
    font-family: 'Ð¡omic Sans MS', cursive;
    font-size: 24px;
    color: rgb(38, 2, 168);
}

.image {
    width: 100%;
    border-radius: 20px;
    box-shadow: 10px 5px 5px gray;
}

.we {
    width: 100%;
    border-radius: 50%;
    box-shadow: 15px 10px 10px gray;
}

.bird {
    width: 180px;
    margin-bottom: 20px;
}

@media (min-width: 641px) {
    .image, .we {
        max-width: 592px;
    }
}